<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-12-05T19:25:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/prasadbhalkikar/Documents/MyProjects/IOS VB/OpenGLES/07-Two3DShapes-Animation/01-White/02-TwoShapes/Window.xcodeproj</string>
</dict>
</plist>
